<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALLURE | WHERE ELEGANCE FINDS YOU</title>
    <!-- <link rel="stylesheet" href="../public/css/Home.css"> -->

    <link rel="stylesheet" href="../public/css/output.css">
</head>

<body>
    <!-- HEADER STARTS -->

    <header>
        <h1 class="allure">ALLURE</h1>

        <div>
            <a href="">ABOUT US</a>
            <a href="">SHOP</a>
            <a href="">CONTACT US</a>
        </div>
        <a href="" class="signupLogin">SIGNUP/LOGIN</a>
    </header>


    <!-- HEADER ENDS -->


    <!-- SECTION-1 STARTS -->
    <section class="section1">
        <div class="newArrival">
            <h1>NEW</h1>
            <h1>ARRIVAL</h1>
        </div>
        <div class="image1"></div>
        <div class="image2"></div>
    </section>
    <!-- SECTION-1 ENDS -->


    <!-- SECTION-2 STARTS -->
    <section class="section2">
        <div class="carousel">
            <div class="bg-[#0d1b2a] carouselElement">KURTI</div>
            <div class="bg-[#003049] carouselElement">TOPS</div>
            <div class="bg-[#000000] carouselElement">ETHENIC WEAR</div>
            <div class="bg-[#003049] carouselElement">LEGGINGS</div>
            <div class="bg-[#0d1b2a] carouselElement">LEHENGA-CHOLI</div>
            <div class="bg-[#003049] carouselElement">JACKETS</div>
            <div class="bg-[#000000] carouselElement">T-SHIRTS</div>
            <div class="bg-[#003049] carouselElement">JEANS</div>
            <div class="bg-[#0d1b2a] carouselElement">SHORTS</div>
            <div class="bg-[#003049] carouselElement">TROUSERS</div>
            <div class="bg-[#000000] carouselElement">CAPRI</div>
            <div class="bg-[#003049] carouselElement">SHRUGS</div>
            <div class="bg-[#0d1b2a] carouselElement">PLAYSUIT</div>
            <div class="bg-[#003049] carouselElement">JUMPSUIT</div>
            <div class="bg-[#000000] carouselElement">AND MANY MORE...</div>
        </div>
        <div aria-hidden class="carousel">
            <div class="bg-[#0d1b2a] carouselElement">KURTI</div>
            <div class="bg-[#003049] carouselElement">TOPS</div>
            <div class="bg-[#000000] carouselElement">ETHENIC WEAR</div>
            <div class="bg-[#003049] carouselElement">LEGGINGS</div>
            <div class="bg-[#0d1b2a] carouselElement">LEHENGA-CHOLI</div>
            <div class="bg-[#003049] carouselElement">JACKETS</div>
            <div class="bg-[#000000] carouselElement">T-SHIRTS</div>
            <div class="bg-[#003049] carouselElement">JEANS</div>
            <div class="bg-[#0d1b2a] carouselElement">SHORTS</div>
            <div class="bg-[#003049] carouselElement">TROUSERS</div>
            <div class="bg-[#000000] carouselElement">CAPRI</div>
            <div class="bg-[#003049] carouselElement">SHRUGS</div>
            <div class="bg-[#0d1b2a] carouselElement">PLAYSUIT</div>
            <div class="bg-[#003049] carouselElement">JUMPSUIT</div>
            <div class="bg-[#000000] carouselElement">AND MANY MORE...</div>
        </div>
    </section>

    <section class="section2">
        <div class="carousel2">
            <div class="bg-[#0d1b2a] carouselElement">KURTI</div>
            <div class="bg-[#003049] carouselElement">TOPS</div>
            <div class="bg-[#000000] carouselElement">ETHENIC WEAR</div>
            <div class="bg-[#003049] carouselElement">LEGGINGS</div>
            <div class="bg-[#0d1b2a] carouselElement">LEHENGA-CHOLI</div>
            <div class="bg-[#003049] carouselElement">JACKETS</div>
            <div class="bg-[#000000] carouselElement">T-SHIRTS</div>
            <div class="bg-[#003049] carouselElement">JEANS</div>
            <div class="bg-[#0d1b2a] carouselElement">SHORTS</div>
            <div class="bg-[#003049] carouselElement">TROUSERS</div>
            <div class="bg-[#000000] carouselElement">CAPRI</div>
            <div class="bg-[#003049] carouselElement">SHRUGS</div>
            <div class="bg-[#0d1b2a] carouselElement">PLAYSUIT</div>
            <div class="bg-[#003049] carouselElement">JUMPSUIT</div>
            <div class="bg-[#000000] carouselElement">AND MANY MORE...</div>
        </div>
        <div aria-hidden class="carousel2">
            <div class="bg-[#0d1b2a] carouselElement">KURTI</div>
            <div class="bg-[#003049] carouselElement">TOPS</div>
            <div class="bg-[#000000] carouselElement">ETHENIC WEAR</div>
            <div class="bg-[#003049] carouselElement">LEGGINGS</div>
            <div class="bg-[#0d1b2a] carouselElement">LEHENGA-CHOLI</div>
            <div class="bg-[#003049] carouselElement">JACKETS</div>
            <div class="bg-[#000000] carouselElement">T-SHIRTS</div>
            <div class="bg-[#003049] carouselElement">JEANS</div>
            <div class="bg-[#0d1b2a] carouselElement">SHORTS</div>
            <div class="bg-[#003049] carouselElement">TROUSERS</div>
            <div class="bg-[#000000] carouselElement">CAPRI</div>
            <div class="bg-[#003049] carouselElement">SHRUGS</div>
            <div class="bg-[#0d1b2a] carouselElement">PLAYSUIT</div>
            <div class="bg-[#003049] carouselElement">JUMPSUIT</div>
            <div class="bg-[#000000] carouselElement">AND MANY MORE...</div>
        </div>
    </section>

    <!-- SECTION-2 ENDS -->



    <!-- SECTION-3 STARTS -->

    <section class="section3">
        <h1 class="sect3Heading">Your Look Speaks</h1>
        <h1 class="sect3Heading">So Does Design</h1>

        <div class="section3-1">
            <div class="section3-1-1">
                <div class="section3-1-1Img"></div>
                <div class="section3-1-1Content">
                    <h1>Effortless Elegance</h1>
                    <p>Timeless Silhouettes Crafted To Move With You</p>
                    
                </div>
                
            </div>
            <div class="section3-1-2">
                <div class="bg-[#023047] section3-1-2Content">
                    <h1 class="text-[30px]">Designed for Every Curve</h1>
                    <p>Thoughtful tailoring that celebrates real bodies, not trends</p>
                </div>
                <div class="bg-[url('../images/image-5.png')] bg-cover section3-1-2Content"></div>
                <div class="bg-[#006d77] section3-1-2Content">
                    <h1>Crafted with Care</h1>
                    <p>Every piece is thoughtfully designed, inside and out</p>
                </div>
            </div>
            <div class="section3-1-3">
                <div class="section3-1-3Content">
                    <h1>Soft on Skin</h1>
                    <p>Fabrics chosen to feel as good as they look.</p>
                </div>
                <div class="section3-1-3Img"></div>
                
            </div>
        </div>

    </section>
    <script src="../public/js/Home.js"></script>


</html>