<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALLURE | WHERE ELEGANCE FINDS YOU</title>
    <link rel="stylesheet" href="../public/css/Home.css">
</head>
<body>
    <!-- HEADER STARTS -->

    <header>
        <h1 class="allure">ALLURE</h1>

        <div>
            <a href="">ABOUT US</a>
            <a href="">SHOP</a>
            <a href="">CONTACT US</a>
        </div>
        <a href="" class="signupLogin">SIGNUP/LOGIN</a>
    </header>


    <!-- HEADER ENDS -->


    <!-- SECTION-1 STARTS -->
     <section class="section1">
        <div class="newArrival">
            <h1>NEW</h1>
            <h1>ARRIVAL</h1>
        </div>
        <div class="image1"></div>
        <div class="image2"></div>
     </section>
</body>
</html>