<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALLURE | WHERE ELEGANCE FINDS YOU</title>
    <!-- <link rel="stylesheet" href="../public/css/Home.css"> -->

    <link rel="stylesheet" href="../public/css/output.css">
</head>

<body>
    <!-- HEADER STARTS -->

    <header>
        <h1 class="allure">ALLURE</h1>

        <div>
            <a href="">ABOUT US</a>
            <a href="">SHOP</a>
            <a href="">CONTACT US</a>
        </div>
        <a href="" class="signupLogin">SIGNUP/LOGIN</a>
    </header>


    <!-- HEADER ENDS -->


    <!-- SECTION-1 STARTS -->
    <section class="section1">
        <div class="newArrival">
            <h1>NEW</h1>
            <h1>ARRIVAL</h1>
        </div>
        <div class="image1"></div>
        <div class="image2"></div>
    </section>
    <!-- SECTION-1 ENDS -->


    <!-- SECTION-2 STARTS -->
    <section class="section2">
        <div class="carousel">
            <div class="bg-[#0d1b2a] carouselElement">KURTI</div>
            <div class="bg-[#003049] carouselElement">TOPS</div>
            <div class="bg-[#000000] carouselElement">ETHENIC WEAR</div>
            <div class="bg-[#003049] carouselElement">LEGGINGS</div>
            <div class="bg-[#0d1b2a] carouselElement">LEHENGA-CHOLI</div>
            <div class="bg-[#003049] carouselElement">JACKETS</div>
            <div class="bg-[#000000] carouselElement">T-SHIRTS</div>
            <div class="bg-[#003049] carouselElement">JEANS</div>
            <div class="bg-[#0d1b2a] carouselElement">SHORTS</div>
            <div class="bg-[#003049] carouselElement">TROUSERS</div>
            <div class="bg-[#000000] carouselElement">CAPRI</div>
            <div class="bg-[#003049] carouselElement">SHRUGS</div>
            <div class="bg-[#0d1b2a] carouselElement">PLAYSUIT</div>
            <div class="bg-[#003049] carouselElement">JUMPSUIT</div>
            <div class="bg-[#000000] carouselElement">AND MANY MORE...</div>
        </div>
        <div aria-hidden class="carousel">
            <div class="bg-[#0d1b2a] carouselElement">KURTI</div>
            <div class="bg-[#003049] carouselElement">TOPS</div>
            <div class="bg-[#000000] carouselElement">ETHENIC WEAR</div>
            <div class="bg-[#003049] carouselElement">LEGGINGS</div>
            <div class="bg-[#0d1b2a] carouselElement">LEHENGA-CHOLI</div>
            <div class="bg-[#003049] carouselElement">JACKETS</div>
            <div class="bg-[#000000] carouselElement">T-SHIRTS</div>
            <div class="bg-[#003049] carouselElement">JEANS</div>
            <div class="bg-[#0d1b2a] carouselElement">SHORTS</div>
            <div class="bg-[#003049] carouselElement">TROUSERS</div>
            <div class="bg-[#000000] carouselElement">CAPRI</div>
            <div class="bg-[#003049] carouselElement">SHRUGS</div>
            <div class="bg-[#0d1b2a] carouselElement">PLAYSUIT</div>
            <div class="bg-[#003049] carouselElement">JUMPSUIT</div>
            <div class="bg-[#000000] carouselElement">AND MANY MORE...</div>
        </div>
    </section>

    <section class="section2">
        <div class="carousel2">
            <div class="bg-[#0d1b2a] carouselElement">KURTI</div>
            <div class="bg-[#003049] carouselElement">TOPS</div>
            <div class="bg-[#000000] carouselElement">ETHENIC WEAR</div>
            <div class="bg-[#003049] carouselElement">LEGGINGS</div>
            <div class="bg-[#0d1b2a] carouselElement">LEHENGA-CHOLI</div>
            <div class="bg-[#003049] carouselElement">JACKETS</div>
            <div class="bg-[#000000] carouselElement">T-SHIRTS</div>
            <div class="bg-[#003049] carouselElement">JEANS</div>
            <div class="bg-[#0d1b2a] carouselElement">SHORTS</div>
            <div class="bg-[#003049] carouselElement">TROUSERS</div>
            <div class="bg-[#000000] carouselElement">CAPRI</div>
            <div class="bg-[#003049] carouselElement">SHRUGS</div>
            <div class="bg-[#0d1b2a] carouselElement">PLAYSUIT</div>
            <div class="bg-[#003049] carouselElement">JUMPSUIT</div>
            <div class="bg-[#000000] carouselElement">AND MANY MORE...</div>
        </div>
        <div aria-hidden class="carousel2">
            <div class="bg-[#0d1b2a] carouselElement">KURTI</div>
            <div class="bg-[#003049] carouselElement">TOPS</div>
            <div class="bg-[#000000] carouselElement">ETHENIC WEAR</div>
            <div class="bg-[#003049] carouselElement">LEGGINGS</div>
            <div class="bg-[#0d1b2a] carouselElement">LEHENGA-CHOLI</div>
            <div class="bg-[#003049] carouselElement">JACKETS</div>
            <div class="bg-[#000000] carouselElement">T-SHIRTS</div>
            <div class="bg-[#003049] carouselElement">JEANS</div>
            <div class="bg-[#0d1b2a] carouselElement">SHORTS</div>
            <div class="bg-[#003049] carouselElement">TROUSERS</div>
            <div class="bg-[#000000] carouselElement">CAPRI</div>
            <div class="bg-[#003049] carouselElement">SHRUGS</div>
            <div class="bg-[#0d1b2a] carouselElement">PLAYSUIT</div>
            <div class="bg-[#003049] carouselElement">JUMPSUIT</div>
            <div class="bg-[#000000] carouselElement">AND MANY MORE...</div>
        </div>
    </section>
    
    

    <!-- Kurti's,tops,ethenic wear,leggings,lehenga-cholis,jackets,tshirts,jeans,shorts,trousers,capris,shrugs,playsuits,jumpsuits ,and many more.. -->
</body>

</html>